@font-face {
    font-family: normal_font;
    src : url(Reality\ Scene.otf);
}
@font-face {
    font-family: Laster;
    src : url(Lasters.ttf);
}
*{
    font-family: normal_font;
}
body {
    background-image: url("bgimg.png");
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
}

body h2 {
    font-size: 100px;
    text-align: center;
}

body h3 {
    font-size: 50px;
    margin-left: 40px;
}

#resultsContainer, #inputContainer {
    color: black;
    font-size: 25px;
    margin-bottom: 200px;
}


.dish-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.7);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.dish-text {
  flex: 2;
  font-size: 30px;
}

.dish-image {
  flex: 1;
}

#rightArrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  color: #2196F3;
  background-color: white;
  border-radius: 20%;
  padding: 10px;
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  transition: transform 0.2s, background-color 0.3s;
}

#rightArrow:hover {
  transform: scale(1.1);
  background-color: #f0f8ff;
  opacity: 25%;
}


#leftArrow {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 32px;
  color: #2196F3;
  background-color: #ffffff;
  border-radius: 20%;
  padding: 12px;
  cursor: pointer;
  transform: rotate(180deg); /* 旋转指向左边 */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  transition: background-color 0.3s, transform 0.2s;
}

#leftArrow:hover {
  transform: scale(1.1) rotate(180deg);
  background-color: #f0f8ff;
  opacity: 25%;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#photoBtn {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #4CAF50;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s;
}

#photoBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.result_block {
  font-size: 38.5px;
  line-height: 1.2;
  color: #333;
}

.result_block ul {
  padding-left: 50px;
}

.result_block li {
    margin-bottom: 1px;
}

.result_block b {
  color: #2c3e50;
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.button-row {
  display: flex;
  gap: 20px; /* 两个按钮间的距离 */
  align-items: center;
  margin-top: 10px;
}

.dish-card {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.dish-text, .dish-image {
  margin-bottom: 10px;
}

.dish-image img {
  max-width: 100%;
  border-radius: 10px;
}
